<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>To Do List app</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">



        <!-- Bootstrap Core CSS -->
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="{{ asset('css/shop-homepage.css') }}" rel="stylesheet">

        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />





        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <nav class="navbar navbar-light navbar-fixed-top" style="background-color: #1F1F1F;">
            <div class="container">
                <div class="navbar-header">
                    <img src="{{ asset('img/Logo_OpenClassrooms.png') }}" alt="OpenClassrooms" class="mr-2"/>
                    <a class="navbar-brand float-right" href="/">To Do List</a>
                </div>
                <div class="navbar-nav vcenter">
                    <form class="navbar-form navbar-left">
                        <a href="{{ path('homepage') }}" class="btn btn-primary"><i class="fa-solid fa-house mr-2"></i>Accueil</a>
                        <a href="{{ path('task_list') }}" class="btn btn-primary"><i class="fa-solid fa-clock mr-2"></i>Tâches en cours</a>
                        <a href="{{ path('task_done') }}" class="btn btn-primary"><i class="fa-solid fa-check mr-2"></i>Tâches terminées</a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('user_list') }}" class="btn btn-primary"><i class="fa-solid fa-users mr-2"></i>Utilisateurs</a>
                        {% endif %}
                    </form>
                </div>
                <div class="navbar-nav vcenter pull-right">
                    <form class="navbar-form navbar-right">
                        {% if app.user %}
                            <a href="{{ path('logout') }}" class="btn btn-danger">Se déconnecter</a>
                        {% endif %}
                        {% if not app.user and 'login' != app.request.attributes.get('_route') %}
                            <a href="{{ path('login') }}" class="btn btn-success">Se connecter</a>
                        {% endif %}
                    </form>
                </div>
            </div>
        </nav>

        <!-- Page Content -->
        <div class="container">
            <div class="row">
            </div>

            <div class="row">
                <div class="col-md-12">
                    {% for flash_message in app.session.flashBag.get('success') %}
                        <div class="alert alert-success" role="alert">
                            <strong>Superbe !</strong> {{ flash_message }}
                        </div>
                    {% endfor %}

                    {% for flash_message in app.session.flashBag.get('error') %}
                        <div class="alert alert-danger" role="alert">
                            <strong>Oops !</strong> {{ flash_message }}
                        </div>
                    {% endfor %}

                    {% block header_title %}{% endblock %}
                    {% block header_img %}<img class="slide-image" src="{{ asset('img/todolist_homepage.jpg') }}" alt="todo list">{% endblock %}
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-md-12">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        <!-- /.container -->

        <div class="container">

            <hr>
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p class="pull-right">Copyright &copy; OpenClassrooms</p>
                    </div>
                </div>
            </footer>

        </div>

        <script src="{{ asset('js/jquery.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    </body>
</html>
